.ui.mini.modal {
  width: 280px;
}

.field.error-border input {
  border-color: #e0b4b4 !important;
}

.form .header {
  padding: 1.5rem;
}

.ui.button.secondary {
  background-color: #28a745 !important;
}

.ui.button.secondary:hover {
  background-color: #218838 !important;
}

.ui.dimmer {
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.modal-fade-in .ui.dimmer {
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-fade-in .ui.dimmer.inverted {
  background-color: rgba(255, 255, 255, 0.85);
}
