.ui.mini.modal {
  width: 280px;
}

.field .header {
  padding: 1.5rem;
}

.ui.button.secondary {
  background-color: #28a745;
}

.ui.button.secondary:hover {
  background-color: #218838;
}

.ui.dimmer {
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.modal-fade-in .ui.dimmer {
  background-color: rgba(0, 0, 0, 0.85);
}
